# SPDX-FileCopyrightText: Copyright (c) 2016-2025 Objectionary.com
# SPDX-License-Identifier: MIT
---
# yamllint disable rule:line-length
name: Performance Regression Check
on:
  pull_request:
    branches:
      - master
jobs:
  benchmark:
    timeout-minutes: 15
    strategy:
      matrix:
        os: [ ubuntu-24.04 ]
        java: [ 23 ]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/cache@v5
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-jdk-${{ matrix.java }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-jdk-${{ matrix.java }}-maven-
      - name: Run JMH Benchmark Action
        uses: volodya-lombrozo/jmh-benchmark-action@v1.0.3
        with:
          java-version: "11"
          base-ref: "master"
          benchmark-command: |
            mvn jmh:benchmark -Djmh.rf=json -Djmh.rff=benchmark.json
          benchmark-file: "benchmark.json"
